@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<section class="banner-container">
    <h1 class="heading" style="margin-top:25px;"> <span>KONTAKT</span></h1>
</section>*@

<section class="contact" id="contact">

    <h1 class="heading"> <span>KONTAKT</span></h1>

    <form action="">

        <div class="inputBox">
            <input type="text" placeholder="imię">
            <input type="email" placeholder="e-mail">
        </div>

        <div class="inputBox">
            <input type="number" placeholder="numer">
            <input type="text" placeholder="temat">
        </div>

        <textarea placeholder="wiadomość" name="" id="" cols="30" rows="10"></textarea>

        <input type="submit" value="wyślij wiadomość" class="btn">

    </form>

</section>

<div style="margin-bottom:100px;"></div>